*{
  padding: 0px;
  margin: 0px;
}

body{
  background-color: black;
}

h1, h3, .text-1, h4{
  font-family: Arial, Helvetica, sans-serif; 
  font-weight: lighter; 
  color: white;
}

h1, h3{
  text-align: center;
}

.form{
  text-align: center;
  margin-top: 15px;
}

.mt5{
  margin-top: 5px;
}
